server:
  port: 9090
  undertow:
    threads:
      io: 20
      worker: 200
    direct-buffers: true
    buffer-size: 1024
    max-http-post-size: 10485760


spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/gachicar
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        # show_sql: true
        format_sql: true

logging.level:
  org.hibernate.SQL: debug
  org.springframework.security: DEBUG
